.venv/
__pycache__/
*.pyc

# Raw downloaded datasets
data/raw/*.nc

# Processed data
data/processed/

# Model files
models/

# Result

# Ignore generated images and other large outputs
results/**/*.png
results/**/*.jpg
results/**/*.jpeg
results/**/*.tif
results/**/*.tiff
results/**/*.nc
# Jupyter
.ipynb_checkpoints/

# Secrets
.env

# Logs
*.log
